<div>
    <h1>Site List</h1>
        <div id="siteGridId" ui-grid="siteQueryController.gridOptions" class="siteGrid" ui-grid-edit></div>
    </div>
     <br />
    <div>
        <a class="btn btn-primary" ng-click='siteQueryController.showEdit()'>Create New Site</a>
    </div>

    <div ng-if="siteQueryController.isEditVisible">
        <form name="createNewSite">            
            <p>
                <p>
                    <label>Name:</label>
                </p>
                <input name="test1" type="text" ng-model="siteQueryController.newSite.Name" ng-required="true" />
            </p>
            <p>
                <p>
                    <label>Address</label>
                </p>
                <input name="test2" type="text" ng-model="siteQueryController.newSite.Address" ng-required="true" />
            </p>
            <div>
                <button name="button" class="btn btn-primary" ng-click='siteQueryController.addNewSite()'>Add</button>
            </div>
        </form>
    </div>
