<div>
    <h1>Site List</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="site in siteQueryController.sites">               
                <td>{{site.Name}}</td>
                <td>{{site.Address}}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" ng-click='siteQueryController.showEdit()'>Create New Site</a>
    </p>    

    <div ng-show="siteQueryController.isEditVisible">
        <form>
            <input type="hidden" ng-model="siteQueryController.newSite.Id" />
            <label>Name:</label>
            <input type="text" ng-model="siteQueryController.newSite.Name" required />
            <label>Address</label>
            <input type="text" ng-model="siteQueryController.newSite.Address" required/>
            <input type="submit" value="Add" ng-click="siteQueryController.addNewSite()" />
        </form>
    </div>    
</div>