body {    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.siteGrid {
  height: 450px;
  width: 100%;
}

.hero-unit {
    background-image: url('../images/superboy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:900px;
  }
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;   
}

.hero-unit p {
    vertical-align: middle;

}

.hero-test {
    vertical-align:middle;
}

p.one {
    color:white;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 1.5;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 0px;
    text-align:left;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   
}

.navbar-default {
  background-color:transparent;
  background-image: none;
  background-repeat: no-repeat;
 }

.nav {
    color: #FFFFFF;
}

.navbar-custom {
    color: #FFFFFF;
}

.navbar-custom a {
    color: #fff;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav > li > a:hover{
    background-color:#FCC;
}



