body {    
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.siteGrid {
  height: 450px;
  width: 100%;
}

.hero-unit {
    background-image: url('../images/superboy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:700px;
  }
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;   
}

.hero-unit p {
    vertical-align: middle;

}

.hero-test {
    vertical-align:middle;
}

p.one {
    color:white;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 1.5;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 0px;
    text-align:left;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   border-width:0px;
   box-shadow: 0px 0px;   
}

.navbar-default {
  background-color:transparent;
  background-image: none;
  background-repeat: no-repeat;
  border-width:0px;
  box-shadow: 0px 0px;
}

.nav {
    color: #FFFFFF;
    height: 100px;
    line-height: 50px;
    margin-right:50px;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    height: 60px;
    margin-top: 25px;    
    margin-left: 25px;
}

.navbar-brand {
  height: 100px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 50px;
}

.navbar-header{
    margin-left:2% !important;
}

.navbar-collapse.in {
  overflow-y:visible;
}

.custom-navbar .fa {font-size:25px}

@media (max-width:767px) { 
	.custom-navbar .navbar-right {
	    float: right;
	    padding-right: 15px;
	}
	.custom-navbar .nav.navbar-nav.navbar-right li {
	    float: right;
	}
  	.custom-navbar .nav.navbar-nav.navbar-right li > a {
	    padding:8px 5px;
	}
	.custom-navbar .navbar-toggle {
	    float: right
	}
	/*.custom-navbar .navbar-header {
	    float: left;
	    width: auto!important;
	}*/
	.custom-navbar .navbar-collapse {
	    clear: both;
	    float: none;
        /*height:350px;
        line-height: 20px;*/        
	}
}
